
#app{
  background-color: #404fed;
  margin-left: 50px;
  
}

body{
background-color: #404fed;
width: 100vw;
height: 100vh;
font-family: 'Roboto', sans-serif;
margin-left: 10px;
padding-left: 20px;
}

#app h1{
  font-family: 'Poppins', sans-serif;
  font-style: bold;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 400px;
  padding-bottom: 30px;
  
}

#app p{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 400px;
  
}

#white-btn{

  background-color: white;
  color: black;
  width: 300px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

#black-btn{
  width: 400px;

}

#buttons{
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  
}

#top-logo{
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 1500px;
  

}

#discordLogo{

  width: 100px;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;  
}

#menuIcon{
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;

}

#background{
position: absolute;
right: 0;
bottom:0;
margin-right: 250px;
}